* {
    margin: 0;
    padding: 0;
}

nav > a {
    text-decoration: none;
    color: rgb(40, 36, 36);
    font-size: 30px;
    margin-left: 300px;
    font-style: italic;
    font-weight: 700;
}

nav {
    background-color: rgba(123, 98, 110, 0.508);
    padding-top: 20px;
    padding-bottom: 20px;
}

.checkBalance {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 30px;
    border-style: none;
    background-color: rgba(27, 58, 135, 0.625);
    background: linear-gradient(rgba(255, 0, 0, 0.897), rgba(27, 58, 135, 0.625));
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.checkBalance:hover {
    background-color: rgba(209, 209, 209, 0.789);
}

.parrentCheckBalance {
    margin-left: 550px;
    margin-top: 200px;
}

body {
    background-image: url(../img/1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

footer {
    padding-top: 390px;
    text-align: center;
}

.hamster {
    color: rgb(67, 255, 15);
    font-weight: 600;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.648);
    padding: 10px;
}

h1 {
    width: 120px;
    padding: 10px 90px;
    margin-left: 580px;
    margin-top: 20px;
    background-color: rgba(121, 121, 121, 0.578);
    font-size: 50px;
    border-radius: 40px;
}

p {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    margin-left: 400px;
    margin-top: 30px;
    background-color: rgb(123, 123, 123);
    width: 45%;
    text-align: center;
    border-radius: 30px;
}

select {
    margin-left: 670px;
    margin-top: 30px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.745);
    color: rgb(146, 148, 144);
    font-style: italic;
}