header {
    width: 1920px;
    height: 65px;
    display: flex;
    background-color: #243B93;
    font-family: "PT Sans", sans-serif;
}

body {
    margin: 0;
    background-color: #FBE4FF;
}

.logo {
    margin-top: 7px;
    margin-left: 299px;

}

.header-button {
    width: 850px;
    height: 37.5px;
    margin-top: 23px;
    margin-left: 158px;
    display: flex;
}

.item {
    width: 170px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.16em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.item.one {
    margin-top: -8px;
}

.chs-lang {
    background-repeat: no-repeat;
    margin-left: 57px;
    margin-top: 7px;
}

.chs-languk {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 15px;
    margin-left: 9.5px;
}

body {
    font-family: "PT Sans", sans-serif;
}

.pastheader {
    width: 1920px;
    height: 85px;
    background-color: #BFF0FF;
}

.psheadtxt {
    font-weight: 400;
    font-size: 44px;
    color: #202846;
    font-style: italic;
    padding-left: 299px;
    padding-top: 16px;
}

.place {
    width: 1321px;
    height: 57px;
    background-color: #FFFFFF;
    margin-left: 299px;
    margin-top: 27px;
    text-align: center;
}

.placetxt {
    font-size: 28px;
    font-weight: 400;
    color: #0000009C;
    padding-top: 10px;
}

.cards {
    margin-top: 30px;
    display: inline-block;
}

.card {
    width: 1321px;
    height: 300px;
    background: linear-gradient(270deg, rgba(0, 174, 229, 1), rgba(173, 203, 212, 1) );
    margin-left: 299px;
    margin-bottom: 42px;
    display: flex
    
}

.card:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;

}

.imgplace {
    padding-left: 52px;
    padding-top: 33px;
    width: 447px;
    height: 246px;
}

.card-title {
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    color: #353C57;
    padding-left: 33px;
    padding-top: 4px;
}

.line {
    width: 739px;
    height: 3px;
    background-color: #FFFFFF;
    margin-top: 10px;
}

.card-desc {
    width: 739px;
    height: 205px;
    background-color: #EDFBFF;
    margin-top: 10px;
    margin-right: 53px;
}

.card-desctxt {
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
    width: 605px;
    height: 112px;
    padding-left: 16px;

}

.star {
    margin-left: 451px;
    position: absolute;
    fill: white;
}

.star:hover {
    fill: yellow;
}

.star4 {
    position: absolute;
    margin-left: 425px;
    fill: white;
}

.star4:hover {
    fill: yellow;
}

.star3 {
    position: absolute;
    margin-left: 370px;
    fill: white;
}

.star3:hover {
    fill: yellow;
}

.button {
    width: 210px;
    height: 41px;
    position: absolute;
    background-color: rgba(36, 59, 147, 1);
    border-radius: 30px;
    margin-left: 1144px;
    margin-top: 243px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-top: 5px;
}

.button:hover {
    background-color: #EF075B;
}

.cab {
    width: 1621px;
    height: 69px;
    background: linear-gradient(270deg,rgba(85, 214, 255, 1),rgba(255, 230, 1, 1));
    font-weight: 400;
    font-style: italic;
    font-size: 44px;
    color: rgba(36, 59, 147, 1);
    padding-left: 299px;
    padding-top: 16px;
}

.cart {
    width: 1318px;
    height: 498px;
    background: linear-gradient(rgba(133, 158, 255, 1), rgba(105, 255, 210, 0.5));
    margin-top: 36px;
    margin-left: 301px;
    display: flex;
}

.icon {
    width: 196px;
    height: 184px;
    margin-left: 167px;
    margin-top: 77px;
}

.chgic {
    width: 205px;
    height: 42px;
    background-color: rgba(36, 59, 147, 1);
    border-radius: 30px;
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    padding-top: 8px;
    margin-top: 296px;
    padding-left: 45px;
    display: flex;
    margin-left: -220px;
}

.nalasht {
    width: 205px;
    height: 42px;
    background-color: rgba(239, 7, 91, 1);
    border-radius: 30px;
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    padding-top: 8px;
    margin-top: 375px;
    padding-left: 45px;
    display: flex;
    margin-left: -251px;
}

.info {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 40px;
}

.name {
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    color: rgba(53, 60, 87, 1);
    display: flex;
    width: 712px;
    height: 462px;
    border-bottom: 4px solid #ffffff;
    margin-left: 133px;
    padding-top: 20px;
    padding-left: 10px;
}

.name1 {
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    color: rgba(53, 60, 87, 1);
    display: flex;
    width: 712px;
    height: 462px;
    margin-left: 133px;
    padding-top: 20px;
    padding-left: 10px;
}

.name strong, .name1 strong {
    font-weight: 400;
    margin-left: 8px;
}

.exit {
    width: 174px;
    height: 40px;
    background-color: #243B93;
    border-radius: 30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    padding-top: 10px;
    margin-left: 873px;
    margin-top: 19px;
}

.contact {
    width: 1621px;
    height: 69px;
    background: linear-gradient(90deg, #54D6FF, #FFE600);
    margin-top: 56px;
    padding-left: 299px;
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    color: #243B93;
    padding-top: 16px;
}

.contac {
    margin-top: -75px;
    margin-left: 299px;

}

.contac1 {
    display: flex;
}

iframe {
    width: 499px;
    height: 290px;
    border-radius: 40px;
    border: 4px solid #243B93 !important;
    margin-left: 115px;
    margin-top: 25px;
}

.foot {
    width: 1619px;
    height: 45px;
    background-color: #243B93;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.16em;
    margin-top: 28px;
    padding-left: 301px;
    padding-top: 20px;
}

#followButton {
    width: 101px;
    height: 101px;
    position: fixed;
    top: 800px;
    left: 1600px;
    background-color: #300C6A4D;
    background-size: 1000px; 
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../svg/arrow.svg);
    background-size: 23px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}