.container {
    width: 1280px;
    height: 720px;
    text-align: center;
}

.window {
    width: 404px;
    height: 490px;
    background-color: #000000;
    display: inline-block;
}

.diamond {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    margin-top: 13px;
    margin-left: 132px;
    margin-right: 132px;
    border: 4px solid #FFFFFF;
    border-radius: 100%;
}

.diamond1 {
    display: inline-block;
    width: 89px;
    height: 89px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M6 3h11l3.9 5.57L11.5 22L2.1 8.57zm4.16 1l-1.7 4h6.08l-1.7-4zM8.33 9l3.17 9.76L14.67 9zM3.72 8h3.66l1.7-4H6.5zm-.1 1l6.82 9.75L7.28 9zm15.66-1L16.5 4h-2.58l1.7 4zm.1 1h-3.66l-3.16 9.75z'/%3E%3C/svg%3E");
}

.text {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 29px;
    letter-spacing: 0.39em;
    margin-left: 25px;
}

.log {
    display: block;
    width: 302px;
    height: 50px;
    margin-left: 62px;
    margin-top: 40px;
    border: 4px solid #FFFFFF;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.log:hover {
    background-color: #676363;
    color: #000000;
    border-color: #2b2c3b;
}

.reg {
    display: block;
    width: 302px;
    height: 50px;
    margin-left: 62px;
    margin-top: 26px;
    border: 4px solid #FFFFFF;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.reg:hover {
    background-color: #676363;
    color: #000000;
    border-color: #2b2c3b;
}