body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: center;
}

.left {
    width: 850px;
    height: 1018px;
}

.right {
    width: 590px;
    height: 1018px;
    display: flex;
    background-color: #F9FAFF;
    background-image: url(../image/layer.png);
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: inset 55px 0 20px -15px rgba(0, 0, 0, 0.016);
}

.member {
    display: inline-block;
    margin-left: 600px;
    margin-top: 99px;
}

.amember {
    font-size: 14px;
    color: #4743E0;
    letter-spacing: 0.25px;
    text-decoration: none;
    font-weight: 400;
}

.img-user {
    padding-top: 2px;
    padding-left: 11px;
    position: absolute;
}

.input-inf {
    margin-top: 55px;
    margin-left: 101px;
    display: flex;
    font-size: 54px;
    color: #42505C;
    line-height: 68px;
    width: 320px;
    height: 167px;
    font-weight: 800;
}

.desc-inf {
    width: 300px;
    height: 104px;
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    position: absolute;
    margin-left: 451px;
    margin-top: -145px;
}

.line {
    margin-left: 106px;
}

.line1 {
    margin-left: 107px;
    margin-top: 25px;
}


.form {
    display: flex;
}

.formp {
    display: flex;
    margin-top: -10px;
}

.form2 {
    display: flex;
    margin-top: -35px;
}

.label {
    font-size: 12px;
    font-weight: 400;
}

.label1 {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;

}

.input {
    width: 280px;
    height: 48px;
    border: 1px solid #D1D1D1;
    padding-left: 17px;
}

.question {
    margin-left: 223px;
    margin-bottom: -7px;
}

.questioncp {
    margin-left: 185px;
    margin-bottom: -7px;
}

.question1 {
    margin-left: 210px;
    margin-bottom: -7px;
}

.question2 {
    margin-left: 103px;
    margin-bottom: -5px;
}

.question3 {
    margin-left: 145px;
    margin-bottom: -5px;
}

.question4 {
    margin-left: 228px;
    margin-bottom: -7px;
}

.question5 {
    margin-left: 221px;
    margin-bottom: -7px;
}

.name {
    margin-left: 106px;
    margin-top: 40px;
}

.surname {
    margin-top: 40px;
    margin-left: 44px;
}

.tel {
    margin-top: 40px;
    margin-left: 41px;
}

.optional {
    display: inline-block;
}

.opt {
    display: none;
}

.option1 {
    display: inline-block;
    width: 68.1px;
    height: 35px;
    border: 1px solid #D1D1D1;
    text-align: center;
    padding-top: 15px;
    margin-left: 5px;
}

.option1:hover {
    border: 1px solid #4743E0;
    box-shadow: 0 0 14px #4743E033;
}

.option1.clicked {
    border: 1px solid #4743E0;
    box-shadow: 0 0 14px #4743E033;
}

.option1-1:hover {
    border: 1px solid #4743E0;
    box-shadow: 0 0 14px #4743E033;
}

.option1-1.clicked {
    border: 1px solid #4743E0;
    box-shadow: 0 0 14px #4743E033;
}

.option1-1 {
    display: inline-block;
    width: 68.1px;
    height: 35px;
    border: 1px solid #D1D1D1;
    text-align: center;
    padding-top: 15px;
}

.opt-label {
    font-size: 14px;
    font-weight: 400;
    color: #545454;
}

.opt-label:checked {
    color: #4743E0;
}

.optional {
    font-size: 12px;
    margin-left: 7px;
    color: #333333a6   
}

.button {
    width: 850px;
    height: 125px;
    display: flex;
}

.button1 {
    width: 425px;
    height: 125px;
    display: flex;
}

.button2 {
    width: 425px;
    height: 125px;
}

.checkbox {
    width: 24px;
    height: 24px;
    margin-left: 110px;
    margin-top: 46px;
}

.button-text {
    font-size: 14px;
    color: #333333;
    margin-top: 50px;
    margin-left: 15px;
}

.termsc {
    text-decoration: none;
    color: #4743E0;
    font-weight: 600;
}

.register {
    width: 102px;
    height: 48px;
    background-color: #4743E0;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0.25px;
    font-weight: 500;
    margin-top: 31px;
    margin-left: 225px;

}

.register:hover {
    background-color: #150edd;
}