@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

@media screen and (max-width: 768px) {
    .screen {
        width: 100% !important;
        height: auto !important;
        align-items: center;
    }
    .gallery-container {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-left: 0 !important;
        margin-top: 25px !important;
    }

    #gallery {
        box-sizing: border-box !important;
    }

    header {
        position: relative !important;
    }

    .header-logo {
        display: none;
    }

    .header-button {
        display: block !important;
        text-align: center;
    }

    .header-button > div > a {
        font-size: 26px !important;
        margin-left: 148px !important;
    }

    .header1 {
        margin-top: 15px !important;
    }

    .o_img1, .o_img2 {
        margin-left: -1px !important;
    }

    .o_img1, .o_img3 {
        width: 396px !important;
        height: auto !important;
        margin-top: 10px;
    }

    .o_img2, .o_img4 {
        width: 396px !important;
        height: auto !important;
        margin-top: 10px !important;

    }

    .o_img3, .o_img4 {
        margin-left: -1px !important;
    }

    .gallery-right_img {
        margin-left: 0px !important;
        margin-top: 10px;
    }

    #services {
        box-sizing: border-box !important;
        width: 100% !important;
        height: auto !important;
    }

    .services-right {
        display: none;
    }

    .services-left {
        margin-left: 22px !important;
        margin-top: 20px !important;
    }

    .card-title {
        font-size: 20px !important;
    }

    .service-card1, .service-card2, .service-card3, .service-card4 {
        animation: none !important;
    }

    .imgg {
        width: 130px !important;
        height: 130px !important;
    }

    .team-title {
        font-size: 48px !important;
        margin-top: -10px;
    }

    .team-container {
        margin-top: 84px !important;
    }

    .team-img {
        flex-direction: column;
        box-sizing: border-box;
    }

    .team-img1 {
        width: 80% !important;
        margin-left: 5px;
    }

    .team-img2 {
        margin-left: -1px;
    }

    .team-img3 {
        margin-left: -1px;
    }

    .team-img4 {
        margin-left: -1px;
    }

    .jasont {
        margin-left: 11px !important;
    }

    .title_img2 {
        margin-left: 11px !important;
    }

    .ryant {
        margin-left: 7px !important;
    }

    .title_img3 {
        margin-left: 7px !important;
    }

    .jamest {
        margin-left: 10px !important;
    }

    .title_img4 {
        margin-left: 10px !important;
    }

    .contact-container {
        flex-direction: column-reverse;
    }

    iframe {
        width: 94% !important;
       
    }

    .contact-map {
        margin-top: 20px !important;
        margin-left: 22px !important;
    }

    .contact-form {
        margin-top: 30px !important;
        margin-left: 0 !important;
    }

    .contact-info {
        width: auto !important;
        height: auto !important;
        font-size: 30px !important;
    }

    .contact-input {
        width: auto !important;
        height: auto !important;
        margin-top: 20px !important;
    }

    .input_name {
        width: auto !important;
        height: auto !important;
        font-size: 27px !important;
        margin-left: 24px !important;
    }

    .input_email {
        width: auto !important;
        height: auto !important;
        font-size: 27px !important;
        margin-left: 24px !important;
        margin-top: 20px !important;
    }

    .input_message {
        width: auto !important;
        height: auto !important;
        font-size: 32px !important;
        margin-left: 25px !important;
        margin-top: 20px !important;
    }

    .contact_bottom-info {
        display: block !important;
    }

    .contact_info {
        margin-top: 80px !important;
        margin-left: 0px !important;
        font-size: 18px !important;
        width: auto !important;
        height: auto !important;
    }

    .contact_worktime {
        width: auto !important;
        height: auto !important;
        margin-top: 50px !important;
        margin-left: 0px !important;
    }

    .contact_social {
        width: auto !important;
        height: auto !important;
        margin-left: 54px !important;
        margin-bottom: 40px !important;

    }


}

:root {
    --black: #000000;
}

body {
    margin: 0px;
    font-family: "Rosario", sans-serif;
}

main {
    justify-content: center;
    align-items: center;
}

.screen {
    width: 1920px;
    height: 1080px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--black);  
}

header {
    position: fixed;
    min-width: 100%;
    z-index: 1000;
}

.header-logo {
    height: 132px;
}

.header-logo img {
    height: 100%;
    width: auto;
}

.header-button {
    display: flex;
    background-color: var(--black);
    margin-right: 20px;
}

.header-button > div > a {
    text-decoration: none;
    width: 40vw;
    align-items: end;
    margin: 20px;
    font-size: 36px;
    font-weight: 600;
    font-style: italic;
    color: #FFFCFC;
}

.gallery-container {
    display: flex;
    align-items: center;
    margin-top: 200px;
    margin-left: 43px;
    position: relative;   
    overflow: hidden;
    z-index: 1; 
}

.gallery-container > div > img {
    display: flex;
}

.o_img1, .o_img3 {
    width: 465px;
    height: 410px;
}

.o_img1, .o_img2 {
    margin-left: 72px;
}

.o_img3, .o_img4 {
    margin-left: 18px;
}

.o_img2, .o_img4 {
    margin-top: 42px;
}

.o_img2, .o_img4 {
    width: 465px;
    height: 364px;
}

.gallery-right_img {
    margin-left: 72px;
}

.services-container, .services-left {
    display: flex;

}

.services-left > div {
    text-align: center;
}
.services-left {
    margin-left: 90px;
    margin-top: 160px;
}

.card-title {
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    margin-top: 15px;
    color: var(--black);
}

.service-card2, .service-card4 {
    margin-top: 31px;
}

.service-card3, .service-card4 {
    margin-left: 99px;
}

.services-right {
    margin-left: 86px;
}

.hair_strai {
    white-space: nowrap;
}

.team-title {
    font-size: 96px;
    color: var(--black);
    font-weight: 700;
}

.team-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
}

.team-container {
    text-align: center;
    margin-top: 190px;
}

.contact-container {
    display: flex;
}

.contact-input {
    width: 936px;
    height: 400px;
    background-color: #E5E5E5;
}

.contact-info {
    width: 798px;
    height: 173px;
    font-size: 64px;
    font-weight: 700;
    font-style: italic;
    color: var(--black);
    text-align: center;
}

.contact-form {
    margin-top: 179px;
    margin-left: 162px;
}

.input_name {
    width: 365px;
    height: 78px;
    font-size: 36px;
    font-weight: 700;
    color: #00000080;
    margin-top: 35px;
    margin-left: 25px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.input_email {
    width: 440px;
    height: 78px;
    font-size: 36px;
    font-weight: 700;
    color: #00000080;
    margin-left: 45px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.input_message {
    width: 878px;
    height: 209px;
    font-size: 36px;
    font-weight: 700;
    padding-left: 10px;
    margin-left: 25px;
    margin-top: 25px;
    box-sizing: border-box;
    color: #00000080;
    outline: none;
    border: none;
    resize: none;
}

.contact-map {
    margin-top: 185px;
    margin-left: 34px;
}

.contact_bottom-info {
    display: flex;
}

.contact_info {
    font-size: 30px;
    font-style: italic;
    color: var(--black);
    font-weight: 700;
    width: 565px;
    height: 187px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 90px;
    margin-left: 162px;
}

.contact_url {
    color: var(--black);
    text-decoration: none;
}

.contact_worktime {
    color: var(--black);
    text-align: center;
    width: 485px;
    height: 187px;
    box-sizing: border-box;
    margin-top: 74px;
    margin-left: 80px;
}

.contact_h1 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 35px;
}

.contact_social {
    text-align: center;
    width: 390px;
    height: 186px;
    box-sizing: border-box;
    margin-top: 73px;
    margin-left: 75px;
}

.contact_social > div {
    display: flex;
    align-items: center;
}

.contact_social > div > a {
    font-size: 30px;
    font-style: italic;
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
}

.contact_social > div > img {
    color: var(--black);
}

.time_work {
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
}

.soc_h1 {
    font-size: 36px;
    font-weight: 700;
}

.soc_info {
    padding-left: 55px;
}

.instagram, .facebook, .twitter {
    padding-left: 18px;
}

.gallery-img1, .gallery-img2 {
    transform: translateX(-100vw);
}

.gallery-img2 {
    animation: showLeft 1s linear forwards;
}

.gallery-img1 {
    animation: showLeft 1s linear forwards 1s;
}

.gallery-img3, .galery-img2-1 {
    transform: translateX(100vw);
}

.galery-img2-1 {
    animation: showRight 1s linear forwards;
}

.gallery-img3 {
    animation: showRight 1s linear forwards 1s;
}

@keyframes showLeft {
    from{
        transform: translateX(-100vw);
    }to{
        transform: translateX(0);
    }
}

@keyframes showRight {
    from{
        transform: translateX(100vw);
    }to{
        transform: translateX(0);
    }
}

.rotating-card {
    transition: transform 5s linear;
}

.service-card1 {
    animation: rotate 10s linear infinite;
}

.service-card2 {
    animation: rotate2 10s linear infinite;
}

.service-card3 {
    animation: rotate3 10s linear infinite;
}

.service-card4 {
    animation: rotate4 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(129%) translateY(0);
    }
    50% {
        transform: translateX(129%) translateY(108%);
    }
    75% {
        transform: translateX(0) translateY(108%);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes rotate2 {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(0) translateY(-108%);
    }
    50% {
        transform: translateX(129%) translateY(-108%);
    }
    75% {
        transform: translateX(129%) translateY(0);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes rotate3 {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(0) translateY(108%);
    }
    50% {
        transform: translateX(-129%) translateY(108%);
    }
    75% {
        transform: translateX(-129%) translateY(0);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes rotate4 {
    0%, 100% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(-129%) translateY(0);
        animation-delay: 5s;
    }
    50% {
        transform: translateX(-129%) translateY(-108%);
        animation-delay: 5s;
    }
    75% {
        transform: translateX(0) translateY(-108%);
        animation-delay: 5s;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.title_img {
    position: absolute;
    font-size: 48px;
    margin-top: -130px;
    font-family: "Volkhov", serif !important;
    font-weight: 400;
    color: #FFFAFA;
    background-color: #A3530AB2;
    border-radius: 0px 0px 38px 38px;


}

.title_img1 {
    position: absolute;
    margin-top: -680px;
    background-color: #000000a1;
    border-radius: 38px 38px 38px 38px;
    width: 175px;
    height: 605px;
}

.title_img2 {
    position: absolute;
    margin-top: -680px;
    background-color: #000000a1;
    border-radius: 38px 38px 38px 38px;
    width: 391px;
    height: 676px;
}

.title_img3 {
    position: absolute;
    margin-top: -680px;
    background-color: #000000a1;
    border-radius: 38px 38px 38px 38px;
    width: 401px;
    height: 676px;
}

.title_img4 {
    position: absolute;
    margin-top: -680px;
    background-color: #000000a1;
    border-radius: 38px 38px 38px 38px;
    width: 398px;
    height: 676px;
}

#image-description {
    display: none;
}

.team-img1:hover #image-description {
    display: block !important;
}

.team-img1:hover #image-description1 {
    display: none !important;
}

.team-img2:hover #image-description {
    display: block !important;
}

.team-img2:hover #image-description1 {
    display: none !important;
}

.team-img3:hover #image-description {
    display: block !important;
}

.team-img3:hover #image-description1 {
    display: none !important;
}

.team-img4:hover #image-description {
    display: block !important;
}

.team-img4:hover #image-description1 {
    display: none !important;
}

.mereditht {
    margin-left: -1px !important;
    padding: 35px 115px;
}

.jasont {
    padding: 36px 143px;
    margin-left: 0;
}

.ryant {
    padding: 36px 151px;
}

.jamest {
    padding: 36px 139px;

}

