.head1 {
    background-image: url(../image/headpng.png);
    background-repeat: no-repeat;
    width: 1512px;
    height: 939px;
}

.buttn {
    margin-left: 271px;
}

.button1 {
    margin-top: 80px;
    width: 111px;
    height: 42px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    background: none;
    border: none;
    color: rgb(229, 227, 224);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button1:hover {
    color: aqua;
}

.main1 {
    font-family: 'Inter', sans-serif;
}

.container {
    margin-top: 117px;
    margin-left: 167px;
}

.boxinf {
    width: 1175px;
    height: 405px;
}

.inf1 {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.inf2 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.inf3 {
    font-size: 40px;
    letter-spacing: 0.07em;
}

.inf4 {
    font-weight: 700;
}

.inf5 {
    color: red;
}

.cont1 {
    background-image: url(../image/telimg.png), url(../image/img2.png);
    width: 1512px;
    height: 811px;
    background-repeat: no-repeat, no-repeat;
    background-position: 1008px 191px, center;
    margin-top: 20px;
}

.leadtxt {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    padding-top: 79px;
    padding-left: 167px;
    width: 750px;
    height: 174px;
    text-align: center;
    letter-spacing: 0.06em;
}

.desctxt {
    font-size: 28px;
    width: 805px;
    height: 533px;
    letter-spacing: 0.14em;
    color: white;
    font-weight: 300;
    padding-left: 169px;
}

.chatsec {
    background-image: url(../image/chatimg.png);
    background-repeat: no-repeat;
    width: 1512px;
    height: 652px;
    margin-top: 108px;

}

.chattxt1 {
    padding-top: 53px;
    padding-left: 473px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.07em;
}

.chatdesc {
    padding-top: 20px;
    padding-left: 473px;
    width: 871px;
    height: 329px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: black;
    text-shadow: 0px 4px 4px #00000040;
}

.char1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.06em;
    margin-top: 68px;
    margin-left: 170px;
}

.char2 {
    font-size: 40px;
    font-weight: 600;
    margin-left: 215px;
    margin-top: 20px;
}

.cards {
    margin-left: 178px;
    margin-top: 40px;
}

.card {
    display: inline-block;
    width: 520px;
    height: 496px;
    background-color: black;

}

.cardq {
    display: inline-block;
    width: 520px;
    height: 496px;
    background-color: black;
    margin-left: 135px;
    vertical-align: top;
}

.card-title {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
}

.card-description,
.card-descriptionq {
    font-size: 25px;
    font-weight: 300;
}

.elix {
    font-size: 40px;
    font-weight: 600;
    margin-left: 221px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.cards2 {
    width: 1512px;
    height: 600px;
    margin-left: 122px;
}

.card1 {
    display: inline-block;
    width: 361px;
    height: 500px;
    background-color: black;
    margin-left: 47px;
}

.card1g {
    display: inline-block;
    width: 351px;
    height: 475px;
    background-color: black;
    text-align: center;
    vertical-align: top;
    padding-left: 10px;
    margin-left: 46px;
    padding-top: 25px;
}

.card-title1 {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}

.card-title1g {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin-top: 60px;
}

.delix {
    font-size: 40px;
    font-weight: 600;
    margin-left: 212px;
    margin-bottom: 60px;
}

.cont2foot {
    background-image: url(../image/phonepng.png), url(../image/footerpng.png);
    width: 1512px;
    height: 811px;
    background-repeat: no-repeat, no-repeat;
    background-position: 1008px 166px, center;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;

}

.leadftxt {
    font-weight: 600;
    width: 549px;
    height: 73px;
    font-size: 50px;
    letter-spacing: 0.06em;
    padding-top: 147px;
    padding-left: 170px;
    color: white;
}

.descftxt {
    font-size: 28px;
    width: 751px;
    height: 177px;
    font-weight: 300;
    letter-spacing: 0.14em;
    color: white;
    padding-top: 32px;
    padding-left: 171px;
}

.follw {
    text-transform: uppercase;
    font-size: 20px;
    width: 382px;
    height: 30px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: -0.01em;
    padding-top: 26px;
    padding-left: 171px;

}

.icon-container {
    display: flex;
    justify-content: start; /* Можно использовать space-around или space-evenly */
    align-items: center;
    gap: 8px;
    margin-left: 171px;
    margin-top: 7px;
}

.icon {
    width: 24px;
    height: 17px;
}

.icon1 {
    padding-top: 4px;

}
